$white: #fff;
$black: #000;
$red: #ec276d;
$yellow: #e6db74;

.experience{
    .content{
        ul{
            position: relative;
            overflow: hidden;
            li{
                clear: both;
                color: $yellow;
                position: relative;
                font-size: 30px;
                text-align: left;
                p{
                    float: right;
                    width: 320px;
                    margin: 0;
                }
                &:after{
                    content: '';
                    position: absolute;
                    top: 35px;
                    left: 50%;
                    width: 50px;
                    height: 2px;
                    background: #86b42b;
                    z-index: 1;
                }
            }
            .left p{
                text-align: right;
                float: left;
            }
            .left:after{
                right: 50%;
                left: auto;
            }
            &:after{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -1px;
                width: 2px;
                height: 100%;
                background: #86b42b;
                z-index: 1;
            }
        }
    }
}

@media only screen and (max-width : 900px){
    .experience{
        .content{
            ul{
                &:after{
                    display: none;
                }
                li{
                    text-align: center;
                    padding-bottom: 48px;
                    p{
                        width: 100%;
                        float: none;
                        font-size: 18px;
                    }
                    &:after{
                        top: auto;
                        bottom: 0;
                        left: 50%;
                        width: 2px;
                        height: 40px;
                    }
                    &:last-child:after{
                        display: none;
                    }
                }
                .left{
                    p{
                        float: none;
                        text-align: center;
                    }
                }
            }
        }
    } 
}